<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>My App</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="assets/js/light-bootstrap-dashboard.js"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="assets/js/demo.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            // $.notify({
            //     icon: 'pe-7s-gift',
            //     message: "Welcome to <b>My App</b>"

            // },{
            //     type: 'info',
            //     timer: 4000
            // });
            function loadBookNowTab() {
                $("#bodycontent").load("booknowtab.html");

                $('#menubooknow').addClass('active');
                $('#menuschedulebook').removeClass('active');
            }

            function loadScheduleBookTab() {
                $("#bodycontent").load("schedulebooktab.html");

                $('#menuschedulebook').addClass('active');
                $('#menubooknow').removeClass('active');
            }

            $("#booknowtab").click(() => {
                loadBookNowTab();  
            })
            
            $("#schedulebooktab").click(() => {
                loadScheduleBookTab();
            })
            
            function init() {
                loadBookNowTab();
            }

            init();
        });

        function notify(message, type) {
            if(!type) {
                type = "info";
            }
            $.notify({
                icon: 'pe-7s-bell',
                message: message
            },{
                type: type,
                timer: 1000
            });
        }

        function loadNewData() {
            var url = "/bookingHelper/findNewRequest";
            var request = $.ajax({
                url : url,
                method : "GET",
                dataType : "JSON"
            })

            request.done((result) => {
                console.log(result.book_now);
                var book_now = result.book_now;
                var schedule_book = result.schedule_book;
                var str = ``;
                book_now.map((valuse, index) => {
                    let id = valuse.id;
                    let subject = valuse.subject;
                    let requester = valuse.requester;
                    str += `
                        <tr onclick="onClickTable('${id}')">
                            <td><b> ${subject} </b></td>
                            <td>${requester}</td>
                        </tr>
                    `;
                })

                // $("#datatable").prepend(str);
                // $("#total").html(book_now.length);
                // $("#notifybooknow").html(book_now.length);
                // $("#notifyschedulebook").html(schedule_book.length);
                setNumberNotify(book_now.length, schedule_book.length);
            })

            request.fail((jqXHR, textStatus) => {
                console(textStatus);
            })
        }

        function setNumberNotify(numberBookNow, numberScheduleBook) {
            $("#notifybooknow").html(numberBookNow);
            $("#notifyschedulebook").html(numberScheduleBook);
        }

        function autoLoad() {
            setTimeout(function(){ 
                loadNewData();
                autoLoad();
            }, 500);
        }

        loadNewData();
        autoLoad();

        // function eventAdd() {
        //     var title = $("#title").val();
        //     var content = CKEDITOR.instances.content.getData();
        //     alert(title + content);
        //     var data = {
        //         title : title,
        //         content : content
        //     };
        //     var url = "/post/add/";
        //     var request = $.ajax({
        //         url : url,
        //         method : "POST",
        //         data : data,
        //         dataType : "JSON"
        //     })

        //     request.done((result) => {
        //         console.log(result);
        //         reload();
        //         alert(result.message);
        //     })

        //     request.fail((jqXHR, textStatus) => {
        //         alert(textStatus);
        //     })
        // }
    </script>

</head>